<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Code</td>
        <td>Price</td>
        <td>Category</td>
    </tr>
    <th:block th:each="product : ${products}">
        <tr>
            <td th:text="${product.id}"></td>
            <td th:text="${product.title}">Title</td>
            <td th:text="${product.code}">Code</td>
            <td th:text="${product.price}">Price</td>
            <td th:text="${product.category.name}">Category</td>
        </tr>
    </th:block>

</table>
</body>
</html>